# Database
DB_NAME=kanban
DB_CONTAINER_PORT=3306
DB_HOST_PORT=3307

# Database user (non-root)
DB_USER=kanban_user

# Secret paths inside container (don't change)
DB_ROOT_PASSWORD_PATH=/run/secrets/db_root_password
DB_APP_PASSWORD_PATH=/run/secrets/db_app_password

# App
APP_IMAGE=yourusername/kanban-app:latest
APP_HOST_PORT=8080
APP_CONTAINER_PORT=8080

# MySQL image
MYSQL_IMAGE=mysql:8.0